<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Projets</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {% url '/project/arcade' as arcade %}
        <li class="nav-item">
          <a class="nav-link" href="/project/arcade">Borne d'arcade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project/weather">Station météo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project/chicken">Cabane à oiseaux</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project/thermostat">Thermostat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project/linky">Linky</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>